#pushadvertising{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 94vh;
	// position: absolute;
	// left: 0;
	// top: 60px;
	img{
		max-width: inherit
	}
	.header-filter{
		height: 66px;
		padding: 0 10px;
		border-bottom:1px solid #e3e3e3;
		background-color: #fff;
		.header-form{
			height: 100%;
			.el-form-item__content,
			.el-form-item__label{
				line-height: 66px;
			}
		}
		
	}
	.anchorBL {  
		display:none  
	} 
	.map-content{
		position: relative;
		flex: 1;
		.search-div{
			position: absolute;
			top: 10px;
			left: 10px;
			width: 300px;
			z-index: 998;
			overflow: hidden;
			.el-input-group__append{
				background-color: #E60012;
				color: #fff;
				border-color: #E60012;
			}
			.el-input__inner:focus{
				border-color: #E60012;
			}
		}
		.map-btn-bottom{
			position: absolute;
			right: 20px;
			bottom: 20px;
			z-index: 998;
		}
		.map-btn-right{
			position: absolute;
			right: 20px;
			top: 35%;
			z-index: 998;
			.mapbtn{
				width: 120px;
				height: 35px;
				margin-bottom: 10px;
				background-color: #e60012;
				line-height: 35px;
				padding: 3px;
				box-shadow: 0px 3px 5px #888888;
				cursor:pointer;
				span{
					background-color: #ffffff;
					float: right;
					width: 75px;
					height: 29px;
					line-height: 29px;
					padding: 0 6px;
					font-size: 12px;
					color: #333333;
				}
				&:hover span,
				&.active span{
					background: #e60012;
					color: #ffffff;
				}
				img{
					margin-bottom: -2px;
        			margin-left: 8px;
				}
			}
			.mapbtn2{
				width: 120px;
				height: 35px;
				background: #e60012;
				line-height: 35px;
				box-shadow: 0px 3px 5px #888888;
				text-align: center;
				color: #fff;
				cursor:pointer;
				img,span{
					margin: 0 3px;
					vertical-align: middle
				}
			}
		}
	}
	.shopping-cart{
		float: right;
	}
	label{
		font-weight: normal
	}
	
}

.meidia-type-sel{
	.media-item-con{
		margin-bottom: 10px;
		max-height: 500px;
		overflow-y: auto;
	}
	.el-tree{
		max-height: 500px;
		overflow-y: auto
	}
}
.el-popover__reference.add-media{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #409EFF;	
	cursor: pointer;
}
.shopcart-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
 }

 .shop-cart-popover{
	padding: 12px 0;
	.el-popover__title{
		padding: 0 25px;
	}
	.el-form-item__label{
		line-height: 25px;
	}
	.el-form-item{
		margin-bottom: 15px;
	}
 }